### Learn SQL

5/10 MULTIPLE TABLES
Left Joins
What if we want to combine two tables and keep some of the un-matched rows?

In [ ]:
SELECT *
FROM newspaper
LEFT JOIN online
  ON newspaper.id = online.id;

SELECT *
FROM newspaper
LEFT JOIN online
  ON newspaper.id = online.id
WHERE online.id IS NULL;

6/10 MULTIPLE TABLES
Primary Key vs Foreign Key

In [ ]:
SELECT *
FROM classes
JOIN students
ON classes.id = students.class_id

7/10 MULTIPLE TABLES
Cross Join

In [ ]:
SELECT COUNT(*)
FROM newspaper
WHERE start_month <=3 AND end_month >=3;

SELECT *
FROM newspaper
CROSS JOIN months;

SELECT *
FROM newspaper
CROSS JOIN months
WHERE start_month <= month AND end_month >= month;

SELECT month, COUNT(*)
FROM newspaper
CROSS JOIN months
WHERE start_month <= month AND end_month >= month
GROUP BY month;

8/10 MULTIPLE TABLES
Union

In [ ]:
SELECT *
FROM newspaper
UNION
SELECT *
FROM online

9/10MULTIPLE TABLES
With

In [ ]:
WITH previous_query AS (SELECT customer_id,
   COUNT(subscription_id) AS 'subscriptions'
FROM orders
GROUP BY customer_id)
SELECT customers.customer_name, 
   previous_query.subscriptions
FROM previous_query
JOIN customers
ON previous_query.customer_id = customers.customer_id;

LEARN SQL
Lyft Trip Data
Letâ€™s practice what we learned about joins by combining rows from different tables.

In [ ]:
SELECT * FROM trips;

SELECT * FROM riders;

SELECT * FROM cars;

SELECT * FROM riders
CROSS JOIN cars;

SELECT * 
FROM trips
INNER JOIN cars
ON trips.car_id = cars.id;

SELECT *
FROM riders 
UNION 
SELECT * 
FROM riders2;

SELECT AVG(cost)
FROM trips;

SELECT username
FROM riders
WHERE total_trips > 500;

SELECT COUNT(*)
FROM cars
WHERE status = "active";

SELECT *
FROM cars
ORDER BY trips_completed DESC
LIMIT 2