##### Salaries Differences
Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.

In [2]:
SELECT 
    ABS(MAX(CASE WHEN department = 'marketing' THEN salary ELSE null END) - 
        MAX(CASE WHEN department = 'engineering' THEN salary ELSE null END)) as salary_difference

FROM db_employee
JOIN db_dept ON db_employee.department_id = db_dept.id
WHERE department = 'marketing' OR department = 'engineering';

IndentationError: unexpected indent (900552410.py, line 2)

###### Number Of Bathrooms And Bedrooms
Find the average number of bathrooms and bedrooms for each cityâ€™s property types. Output the result along with the city name and the property type.

In [ ]:
select city, property_type, AVG(bathrooms), AVG(bedrooms) 
from airbnb_search_details
GROUP BY city, property_type;

Find the total cost of each customer's orders. Output customer's id, first name, and the total order cost. Order records by customer's first name alphabetically.

In [ ]:
select first_name, last_name, total_order_cost 
from customers JOIN orders ON customers.id = orders.cust_id
ORDER BY first_name;