#### This notebook is made with great respect to 8weeksqlchallenge.com team, who help people to learn SQL.
All answers are my interpretations and they are not guaranteed to be the only right solution.
Solutions prepared in PostgresSQL using Postbird

### Week 1
https://8weeksqlchallenge.com/case-study-1/

1. What is the total amount each customer spent at the restaurant?

In [ ]:
SELECT sales.customer_id, SUM(menu.price)
FROM dannys_diner.sales 
JOIN dannys_diner.menu 
    ON sales.product_id = menu.product_id
GROUP BY sales.customer_id

2. How many days has each customer visited the restaurant?

In [ ]:
SELECT sales.customer_id, COUNT(sales.order_date)
FROM dannys_diner.sales 
GROUP BY sales.customer_id