Salaries Differences
Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.

In [ ]:
SELECT 
    ABS(MAX(CASE WHEN department = 'marketing' THEN salary ELSE null END) - 
        MAX(CASE WHEN department = 'engineering' THEN salary ELSE null END)) as salary_difference

FROM db_employee
JOIN db_dept ON db_employee.department_id = db_dept.id
WHERE department = 'marketing' OR department = 'engineering';